<br><br>
<h2>Here are the List of employees</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.email}}</td>
            <td><button class="btn btn-warning" 
                (click)="updateEmp(employee.id)">Update</button></td>
            <td><button class="btn btn-danger"
                (click)="deleteEmp(employee.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
